echo "# safeclick2.0" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/rishikeshdhote29/safeclick2.0.git
git push -u origin mainnode_modules
backend/node_modules
frontend/node_modules
backend/uploads/*
!backend/uploads/.gitkeep
frontend/dist
.env
backend/.env
frontend/.env

